
@font-face {
    font-family: 'Arial Cyr';
    src: url('../ArialCyrMT-Bold.eot');
    src: url('../ArialCyrMT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../ArialCyrMT-Bold.woff2') format('woff2'),
        url('../ArialCyrMT-Bold.woff') format('woff'),
        url('../ArialCyrMT-Bold.ttf') format('truetype'),
        url('../ArialCyrMT-Bold.svg#ArialCyrMT-Bold') format('svg');
}

@font-face {
    font-family: 'Arial Regular';
    src: url('../ArialMT.eot');
    src: url('../ArialMT.eot?#iefix') format('embedded-opentype'),
        url('../ArialMT.woff2') format('woff2'),
        url('../ArialMT.woff') format('woff'),
        url('../ArialMT.ttf') format('truetype'),
        url('../ArialMT.svg#ArialMT') format('svg');
}

/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}



html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #333;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
    padding: 30px;
    min-height: 100%;
}
/* ------------------ */
.title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin: 0px 0px 30px 0px;
}

/* ------------------ */

/* Флекс */
.block {
    display: flex;
}
.block__side {
    flex: 0 0 300px;
    background-color: #77608d;
}
.block__body {
    padding: 0px 0px 0px 30px;
    flex: 1 1 auto;
    min-width: 0;
}

/* ------------------ */

.image-slider {
    padding: 30px 0 70px 0;
  
}
.image-slider__wrapper {

}
.image-slider__slide {
}
.image-slider__image {
    text-align: center;
}
.image-slider__image img {
    height: 300px;
    width: 300px;
    max-width: 100%;
}

/* Стрелки */
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: red;
    font-size: 50px;
    margin-top: -100px;
}

/* Пагинация */
.image-slider .swiper-pagination {
    bottom: 10px;
}
/* Буллеты */
.image-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: #fff;
}

/* Фракция */
.image-slider .swiper-pagination-fraction {
    font-size: 20px;
    color: #fff;
}

/* Прогрессбар */
.image-slider .swiper-pagination-progressbar-fill {
    background-color: #7a956b;
}

/* Скролл */
.image-slider .swiper-scrollbar-drag {
    cursor: pointer;
    background-color: #7a956b;
}

/* Автоширина */
.image-slider .swiper-slide {
    /* width: auto; */
}

.image-mini-slider {
 
}
.image-mini-slider__wrapper {
    text-align: center;

}
.image-mini-slider__slide {
    opacity: 0.2;
    transition: opacity 0.3s ease 0s;
    margin-top: 50px;
    height: 150px;
}
.image-mini-slider__slide.swiper-slide-thumb-active {
    opacity: 1;

}

.image-mini-slider__image {
    position: relative;
    padding: 50px 30px 50px 30px;
    cursor: pointer;

}
.image-mini-slider__image img {
    object-fit: cover;
    position: absolute;
    width: 160px;
    height: 160px;
    top: 0;
    left: 0;
}